/node_modules
/vendor
/storage/*.sqlite
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
.env
.git
.github
Dockerfile
.phpunit.result.cache
